{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Displaying pet business detail -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="post-title">{{ pet_business_detail.firm }}</h1>
            <p class="post-subtitle">{{ pet_business_detail.author }} | {{ pet_business_detail.date_created }}</p>
            <p> {{ pet_business_detail.description | safe }} </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/defaultpetbusiness.jpg' %}" class="scale" alt="placeholder">
        </div>
    </div>
</div>


<!-- Displaying count of comments -->
<div class="row">
    <div class="col-12">
        <strong class="text-secondary">
            <i class="far fa-comments"></i> {{ comment_count }}
        </strong>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>


<!-- Writing new comments -->
<div class="col-md-4 card mb-4 mt-3">
    <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Write a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to create a pet business</p>
        {% endif %}
    </div>
</div>





{% endblock content %}