{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<h2>My Pet Businesses</h2>

<!-- Existing list of pet businesses -->
{% if pet_businesses %}
<table class="table">
    <thead>
        <tr>
            <th>Business Name</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for business in pet_businesses %}
        <tr>
            <td><a href="{% url 'pet_business_detail' business.slug %}">{{ business.firm }}</a></td>
            <td>{{ business.date_created }}</td>
            <td>
                <a href="{% url 'pet_business_edit' business.slug business.id %}"
                    class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'pet_business_delete' business.slug business.id %}"
                    class="btn btn-warning btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You have not created any pet businesses yet.</p>
{% endif %}

<!-- Form to create a new pet business -->
<hr>
<h3>{% if form.instance.pk %}Edit Pet Business{% else %}Create a New Pet Business{% endif %}</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}Update Business{% else %}Add Business{% endif %}
    </button>
</form>

<script src="{% static 'js/slug_creation.js' %}"></script>
{% endblock content %}