@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@300..700&display=swap');

/*----- Setup -----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    /*Pushing footer to the page bottom*/
    flex: 1;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    padding: 0 2rem;
}

/*----- Colors -----*/

:root {
    /*Primary color*/
    --yellow: #FCC737;
    --orange: #F26B0F;

    /*Secondary color*/
    --blue: #81D4FA;
    --darkgrey: #2B2929;
    --offwhite: #fafafa;
}

.offwhite {
    color: var(--offwhite);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-orange {
    background-color: var(--orange);
}

/*----- Typo -----*/

h1 {
    font-family: "Chewy", serif;
    font-size: 5rem;
    font-weight: 400;
}

h2 {
    font-family: "Chewy", serif;
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    font-family: "Chewy", serif;
    font-size: 2.5rem !important;
    font-weight: 400;
}

p,
a,
li {
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: 400;
}

.bold {
    font-weight: 500;
    font-size: 1.1rem;
}

/*----- Links & Button -----*/

.link {
    color: var(--orange);
}

.link:hover {
    color: var(--orange);
    font-weight: 500;
}

.page-link {
    color: var(--orange);
    border-radius: 10%;
}

.page-link:hover {
    color: var(--offwhite);
    background-color: var(--orange);
    border-radius: 10%;
}

.btneffect {
    margin-top: 1rem;
    background-color: var(--offwhite);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
}

/*----- Header -----*/

.logo {
    width: 300px;
    height: auto;
}

#herosection {
    background-color: var(--yellow);
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.relativeposition {
    position: relative;
}

.footprint {
    position: absolute;
    width: 150px;
    top: 25px;
}

.heropet {
    height: 400px;
    margin-top: 30px;
    margin-bottom: -50px;
}

/*----- Footer -----*/

footer {
    margin-top: 6rem;
    background-color: var(--yellow);
    height: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footercat {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 50px;
    top: -222px;
}

/*----- Business list -----*/

.card {
    width: 100%;
    border: 1px solid var(--orange);
}

.orange-hr {
    color: var(--orange);
    height: 1px;
}

.image-wrapper {
    width: 106px;
    height: 106px;
    border: 3px solid var(--yellow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 auto 2rem auto;
}

.round-image {
    margin: 0;
    padding: 0;
    display: block;
    width: 94px;
    height: 94px;
    border-radius: 50%;
}

#title-color {
    color: var(--orange);
    font-size: 1.3rem;
}


/*----- My Pet Services -----*/

.spacing {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/*----- Header & Footer Responsivness -----*/

@media screen and (max-width: 768px) {
    .btneffect {
        margin-top: 30px;
    }

    .footercat {
        width: 200px;
        height: 200px;
        position: absolute;
        right: 50px;
        top: -148px;
    }
}

/*----- My Pet Services Responsivness -----*/

@media screen and (max-width: 520px) {
    .hidden {
        display: none;
    }
}

@media screen and (max-width: 330px) {

    .btn-danger,
    .btn-warning {
        margin: 0.2rem 0rem;
    }
}