@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@300..700&display=swap');

/*----- Setup -----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----- Colors -----*/

:root {
    /*Primary color*/
    --yellow: #FCC737;
    --orange: #F26B0F;

    /*Secondary color*/
    --blue: #81D4FA;
    --darkgrey: #2B2929;
    --offwhite: #fafafa;
}

/*----- Typo -----*/

h1 {
    font-family: "Chewy", serif;
    font-size: 5rem;
    font-weight: 400;
}

h2 {
    font-family: "Chewy", serif;
    font-size: 1rem;
    font-weight: 400;
}

p,
a,
li {
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: 400;
}

.bold {
    font-weight: 500;
    font-size: 1.1rem;
}

.btneffect {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
}


/*----- Header -----*/

.logo {
    width: 300px;
    height: auto;
}

#herosection {
    background-color: var(--yellow);
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.relativeposition {
    position: relative;
}

.footprint {
    position: absolute;
    width: 150px;
    top: 25px;
}

.heropet {
    height: 400px;
    margin-top: 30px;
    margin-bottom: -50px;

}

/*----- Responsivness -----*/

@media screen and (max-width: 768px) {
    .btneffect {
        margin-top: 30px;
    }

}